<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :rent %>
    <%= form.number_field :rent %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <h2>New Station</h2>
    <%= form.fields_for :nearest_stations do |station| %>
      <%= station.label :name %><br>
      <%= station.text_field :name %>
      <%= station.label :route_name %><br>
      <%= station.text_field :route_name %>
      <%= station.label :walk_time %><br>
      <%= station.text_field :walk_time %>
      <% if @property.persisted? %>
        <%= station.label '削除' %>
        <%= station.check_box :_destroy %>
      <% end %>
        <br>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
