<div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <%= form.label :route_name %><br>
    <%= form.text_field :route_name %>
    <%= form.label :walk_time %><br>
    <%= form.text_field :walk_time %>
    <% if @property.persisted? %>
      <%= form.label '削除' %>
      <%= form.check_box :_destroy %>
    <% end %>
    <br>
</div>
